{
        "NAME":"Node 1",
        "HTTP_PORT":80,
        "HTTPS_PORT":6350,
        "P2P_PORT":7570,
        "PRIVKEY": "/home/html/phicoin-main-node1/private.key",
        "CERT": "/home/html/phicoin-main-node1/certificate.crt",
        "CHAIN": "/home/html/phicoin-main-node1/ca_bundle.crt",
        "DOMAIN_ALLOW": "*",
        "PEERS": [
                "/ip4/127.0.0.1/tcp/5001/p2p/QmcE7Qs1pNj9hcXJ1JpsWqMqZRNqwFRU4D2wA9VFvNMUJG"
        ]
}